[submodule ".vim/bundle/vim-surround"]
	path = .vim/bundle/vim-surround
	url = git@github.com:tpope/vim-surround.git
[submodule ".vim/bundle/zencoding"]
	path = .vim/bundle/zencoding
	url = git@github.com:mattn/zencoding-vim.git
[submodule ".vim/bundle/nerdtree"]
	path = .vim/bundle/nerdtree
	url = git@github.com:scrooloose/nerdtree.git
[submodule ".vim/bundle/vim-flake8"]
	path = .vim/bundle/vim-flake8
	url = git@github.com:nvie/vim-flake8.git
[submodule ".vim/bundle/CamelCaseMotion"]
	path = .vim/bundle/CamelCaseMotion
	url = git@github.com:bkad/CamelCaseMotion.git
[submodule ".vim/bundle/supertab"]
	path = .vim/bundle/supertab
	url = git@github.com:ervandew/supertab.git
[submodule ".vim/bundle/tlib"]
	path = .vim/bundle/tlib
	url = git@github.com:tomtom/tlib_vim.git
[submodule ".vim/bundle/vim-addmon-mw-utils"]
	path = .vim/bundle/vim-addmon-mw-utils
	url = git@github.com:MarcWeber/vim-addon-mw-utils.git
[submodule ".vim/bundle/vim-javascript"]
	path = .vim/bundle/vim-javascript
	url = git@github.com:pangloss/vim-javascript.git
[submodule ".vim/bundle/indentline"]
	path = .vim/bundle/indentline
	url = git@github.com:Yggdroot/indentLine.git
